

<h1 mat-dialog-title>entretien</h1>

<div mat-dialog-content>

    <form [formGroup]="entretienForm">

        <div *ngIf="candidates">
            <label for="candidateSelect">Sélectionnez un candidat :</label>
            <select id="candidateSelect" formControlName="candidateId" (change)="onCandidateSelect($event)">
              <option *ngFor="let candidate of candidates" [value]="candidate.idCondidate">{{ candidate.firstName }}</option>
            </select>
          </div>
          
        <mat-form-field appearance="outline">
            <mat-label>lieu</mat-label>
            <input  type="lieu" formControlName="lieu"   matInput placeholder="lieu" />
        
        </mat-form-field>
    
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input  type="date" formControlName="date"   matInput placeholder="date" />
    
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>description</mat-label>
            <input   formControlName="description"   matInput placeholder="description" />
    
        </mat-form-field>
         <div mat-dialog-actions [align]="'end'">

            <button style="margin-right: 5px;" mat-raised-button color="warn" mat-dialog-close>Annuler</button>
    
            <button mat-raised-button color="primary" (click)="assignEntToCand()"
                    [ngStyle]="{'background-color': !entretienForm.valid   ? '' : '#22ca80'  , 'color' : !entretienForm.valid ? 'black' : 'white'  }"
    
            >{{actionButton}}</button>  
         </div>
        </form>
</div>
