

<h1 mat-dialog-title>candidature</h1>

<div mat-dialog-content>

    <form [formGroup]="candidatureForm">




    <mat-form-field appearance="outline">
        <mat-label>enumEtat</mat-label>
        <input   formControlName="enumEtat"   matInput placeholder="enumEtat" />

     



    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>enumPost</mat-label>
        <input   formControlName="enumPost"   matInput placeholder="enumPost" />
       
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>firstName</mat-label>
        <input  type="firstName" formControlName="firstName"   matInput placeholder="dateDebutcandidature" />
    
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>lastname</mat-label>
        <input  type="lastname" formControlName="lastname"   matInput placeholder="dateFincandidature" />

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input   formControlName="email"   matInput placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
       

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>mobile</mat-label>
        <input   formControlName="mobile"   matInput placeholder="mobile" />

    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>cv</mat-label>
        <input   formControlName="cv"   matInput placeholder="cv" />
     
    </mat-form-field>




     <div mat-dialog-actions [align]="'end'">

        <button style="margin-right: 5px;" mat-raised-button color="warn" mat-dialog-close>Annuler</button>

        <button mat-raised-button color="primary" (click)="addCandidature()"
                [ngStyle]="{'background-color': !candidatureForm.valid   ? '' : '#22ca80'  , 'color' : !candidatureForm.valid ? 'black' : 'white'  }"

        >{{actionButton}}</button>


     </div>








    </form>









</div>









